body {
    background-color: rgb(231, 216, 227);
    /*background-image: linear-gradient(to bottom , rgba(255,255,0,0.5), rgba(0,0,255,0.5));*/
}
h1.titre {
    font-size: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 80px;
    /*margin-left: 50px;
    margin-top: 100px;*/

}
h1.damages {
    font-size: 25px;
    position: relative;
    bottom: 18px;
}
/* -- PLAYER 1 -- */
img.p1pic {
    position: relative;
    left: 15px;
}
h1.playername1 {
    font-size: 20px;
    opacity: 0.7;
    position: relative;
    left: 30px;
    bottom: 15px;
}

h1.p1_LP {
    font-family: 'squealer', sans-serif;
    font-size: 70px;
    border: 5px solid black;
    width: fit-content;
    height: fit-content;
    position: relative;
    bottom: 185px;
    left: 220px;
}
img.P1logo_plus {
    position: relative;
    left: 365px;
}
img.P1logo_moins {
    position: relative;
    left: 115px;
}
button.p1half {
    position: relative;
    left: 256px;
}

p.P1buttons {
    position: relative;
    bottom: 200px;
    left: 30px;
}

button.P1plus {
    width: 100px;
    height: 30px;
    position: relative;
    left: 20px;
    background-color: yellowgreen;
}
button.P1minus {
    width: 100px;
    height: 30px;
    background-color: tomato;
}

/* -- TIMER -- */
div.timer {
    position: relative;
    bottom: 200px;
}
button.timer {
    width: 160px;
    height: 70px;
    position: relative;
    left: 170px;
}
button.reset {
    position: relative;
    left: 150px;
}

/* -- MUSIC -- */
audio.mix {
    width: 180px;
    height: 30px;
}
h2.mixtitle {
    font-size: 20px;
    position: relative;
    bottom: 420px;
}

/* -- PLAYER 2 -- */
img.p2pic {
    position: relative;
    left: 15px;
    bottom: 200px;
}
h1.playername2 {
    font-size: 20px;
    opacity: 0.7;
    position: relative;
    left: 30px;
    bottom: 217px;
}
h1.p2_LP {
    font-family: 'squealer', sans-serif;
    font-size: 70px;
    border: 5px solid black;
    width: fit-content;
    height: fit-content;
    position: relative;
    bottom: 385px;
    left: 220px;
}
img.P2logo_plus {
    position: relative;
    left: 365px;
}
img.P2logo_moins {
    position: relative;
    left: 115px;
}
button.p2half {
    position: relative;
    left: 256px;
}

p.P2buttons {
    position: relative;
    bottom: 410px;
    left: 30px;
}

button.P2plus {
    width: 100px;
    height: 30px;
    position: relative;
    left: 20px;
    background-color: yellowgreen;
}
button.P2minus {
    width: 100px;
    height: 30px;
    background-color: tomato;
}


/* -- Changement de couleur au passage de la souris / clicks --

button:hover {
    cursor: pointer;
    background-color: rgb(182, 178, 178);
   }
button:active {
    background-color: rgb(136, 136, 136);
   }
   */
